/* @media (min-width: 768px) {
    .box-style{
        display:flex;
        justify-content: space-between;

    }
    .box{
        width: max-content;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 992px) {
    .box{
        width: max-content;
        display: flex;
        justify-content: space-between;
    }
}*/
/* @media(min-width: 992px) {

}

@media (min-width: 1440px) {
    
} */

@media(min-width: 600px) {
}

@media (min-width: 1200px) {
    .container{
        max-width: auto !important
    }
}

@media(min-width: 760px) {
    .product-detail{
        display: flex;
        justify-content:center;
        gap: 30px;
        padding: 40px;
    }
}
