p{
    margin: auto;
}

.css-6numsx-MuiContainer-root {
    /* width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 24px; */
    width: 100% !important;
}

.MuiDialogTitle-root+.css-kw13he-MuiDialogContent-root {
    padding-top: 5px !important;
}